/* .item {
    margin-top: 75px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    background: lightgrey;
    font-size: 56px;
}
.item:hover {
    animation: rotate 1s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
/* img {
    display: block;
}
ul {
    list-style: none;
}
.custom-links a {
    text-decoration: none;
    color: inherit;
}
.custom-links a:hover {
    color: rgb(92, 100, 84);
}
.box-container {
    width: 70px;
    height: 70px;
    outline: 1px solid black;
}
.modal {
    width: 300px;
    height: 500px;
    opacity: 0;
    background-color: red;
}

.modal.open {
    opacity: 1;
}
.transaction-table {
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 8px;
    border: 1px solid #2a2a2a;
}

.title__link {
    display: inline-flex;
    margin-left: 40px;
}
.js-container {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}
.js-toggle {
    display: none;
}

.active {
    color: gold;
} */

/* TODO: LESSON 3 */

/* .container-lesson_3 {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box {
    width: 150px;
    height: 150px;
}

.item-red {
    background-color: red;
}
.item-green {
    background-color: green;
}

.item-black {
    background-color: black;
} */

/* TODO: делегування подій */

/* .cars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cars img {
    height: 200px;
}
h2 {
    padding: 0;
    margin: 0;
}
.instance-style {
    padding: 20px;
    width: 700px;
    height: 530px;
    background-color: aliceblue;
    border-radius: 8px;
} */

/* TODO: throttle / debounce */

/* .valid {
    outline: none;
    border-color: green;
}
.invalid {
    outline: none;
    border-color: red;
} */

/* PHONE LIST */
/* .phone-list {
    list-style: none;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.phone-item {
    border-radius: 8px;
    padding: 15px;
    outline: 2px solid rgb(184, 184, 187);
}
.phone-item img {
    height: 200px;
    object-fit: contain;
}

.modal {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
} */
/* LIBRARY TRAINING */
/* .library-box {
    display: flex;
}
.left-box {
    width: 250px;
    background-color: rgb(210, 175, 241);
}
.left-box div {
    margin: 0 auto;
}
.right-box {
    width: 400px;
    background-color: rgb(222, 204, 238);
}

.modal-window {
    padding: 15px;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    background-color: white;
} */
