* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

section {
    padding: 50px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-title {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0px 40px;
}

.module-title {
    text-align: center;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}
.accordion-list-item {
    position: relative;
    transition: all 500ms linear;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active,
.accordion:hover {
    background-color: #ccc;
}
.panel {
    background-color: white;
    display: none;
    padding: 20px;
    overflow: hidden;
}
.panel.active {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}
.resizer {
    min-width: 100cqi;
    overflow: hidden;
    resize: horizontal;
}

/* LIBBARY - Simple slider  /// HORIZONTAL SCROLL */

/* body {
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
} */

.horizontal-media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-gap: calc(30px / 2);

    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 30px;
}
.horizontal-media-scroller figure {
    scroll-snap-align: start;
}

/* RUNNING LINE */

@keyframes grow-progress {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

#progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1em;
    background-color: red;

    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: scroll();
}

/* LIGHBOX */
.lighbox {
    display: none;
}

.lighbox:target {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000d8;
}

.div-wrap-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
